<mat-card class="product-card">
  <div
    *ngIf="editingLoading"
    fxLayoutAlign="center center"
    class="product-card-spinner"
  >
    <mat-spinner></mat-spinner>
  </div>
  <mat-card-header>
    <div mat-card-avatar fxLayoutAlign="center center">
      <mat-icon>person</mat-icon>
    </div>
    <mat-card-title>{{ jobOffer.title }} </mat-card-title>
    <mat-card-subtitle>{{ jobOffer.tag }}</mat-card-subtitle>
    <button
      (click)="deleteJobOffer()"
      [disabled]="disabledEditing"
      mat-icon-button
      color="primary"
      class="product-card-delete"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-header>
  <img
    mat-card-image
    src="/assets/images/{{ jobOffer.picture }}"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    {{ jobOffer.about }}
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="end">
    <button mat-button color="secondary">LIKE</button>
    <button mat-button color="secondary">SHARE</button>
  </mat-card-actions>
</mat-card>
